body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #F5F5F5;
}

.zdjecie-poziome {
  width: 100%;          
  height: auto;         
  display: block;
  object-fit: cover;    
  position: absolute;
  top: 300px;
  left: auto;
}

.prostokat-pelna-szerokosc {
  width: 100%;              
  height: 600px;            
  background-color: white;  
  margin-top: 60px;         
}

.pasek {
  position: absolute;
  top: 250px;
  left: 400px;
}

.pasek1 {
  width: auto;
  height: auto;
}

.logo {
  position: absolute;
  top: 120px;
  left: 400px;
}

.logo1 {
  width: auto;
  height: auto;
}

.konto {
  position: absolute;
  top: 135px;
  left: 1550px;
}

.konto1 {
  width: auto;
  height: auto;
}

.koszyk {
  position: absolute;
  top: 135px;
  left: 1355px;
}

.koszyk1 {
  width: auto;
  height: auto;
}

.tele {
  position: absolute;
  top: 20px;
  left: 1330px;
}

.tele1 {
  width: auto;
  height: auto;
}

.mail {
  position: absolute;
  top: 20px;
  left: 1460px;
}

.mail1 {
  width: auto;
  height: auto;
}

.search {
  position: absolute;
  top: 130px;
  left: 700px;
}

.search1 {
  width: auto;
  height: auto;
}

.prost {
  position: absolute;
  top: 500px;
  left: 0px;
}

.prost1 {
  width: auto;
  height: auto;
}

.franek {
  position: absolute;
  top: 330px;
  left: 100px;
}

.franek1 {
  width: 300px;
  height: auto;
}

.blok-szukania {
  position: absolute;   
  top: 130px;           
  left: 700px;          
  width: 100%;
  max-width: 500px;
}


.pole-szukaj {
  width: 100%;
  padding: 8px 40px 8px 12px; 
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.ikona-szukaj {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
  
}

.promocja {
  position: absolute;
  top: 560px;
  left: 400px;
}

.promocja1 {
  width: auto;
  height: auto;
}

.liczba {
  position: absolute;
  top: 630px;
  left: 350px;
}

.liczba1 {
  width: auto;
  height: auto;
}

.czerwiec {
  position: absolute;
  top: 530px;
  left: 400px;
}

.title2 {
  width: auto;
  height: auto;
}

.lista-produktow {
  display: flex;
  gap: 40px;
  padding: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-top: 800px; 
}

.produkt {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 340px;
  margin-left: 50px;
  
}



.obrazek-produktu {
  width: 103%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.tytul-produktu {
  font-size: 15px;
  color: #313131;
  margin-top: 20px;
}

.cena-produktu {
  font-size: 16px;
  font-weight: bold;
  color: #313131;
  margin-bottom: 10px;
}

.cena-promocyjna {
  font-size: 16px;
  font-weight: bold;
  color: #e74c3c;
  margin-bottom: 10px;
  
}

.cena-stara {
  text-decoration: line-through;
  color: #999;
  margin-left: 5px;
  font-weight: normal;
}

.przycisk-koszyk {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.przycisk-koszyk:hover {
  background-color: #27ae60;
}

.etykieta-nowa {
  position: absolute;
  top: 1620px;
  left: 10px;
  background-color: #2ecc71;
  color: white;
  font-size: 18px;
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: bold;
}

.etykieta-promocja {
  position: absolute;
  top: 1560px;
  left: 10px;
  background-color: #c92727;
  color: white;
  font-size: 22px;
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: bold;
}


.niebieski {
  position: absolute;
  top: 950px;
  left: 0px;
}

.niebieski1 {
  width: 1905px;
  height: auto;
}



.Polecane {
  position: absolute;
  top: 1250px;
  left: 200px;
}

.Polecan1 {
  width: 500px;
  height: auto;
}

.etykieta-promocja1 {
  position: absolute;
  top: 1560px;
  left: 1470px;
  background-color: #c92727;
  color: white;
  font-size: 22px;
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: bold;
}

.etykieta-nowa1 {
  position: absolute;
  top: 1580px;
  left: 500px;
  background-color: #2ecc71;
  color: white;
  font-size: 18px;
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: bold;
}

.baner {
  position: absolute;
  top: 2350px;
  left: 0px;
}

.baner1 {
  width: 1905px;
  height: auto;
}

.Polecane1 {
  position: absolute;
  top: 1250px;
  left: 200px;
}

.Polecan11 {
  width: 500px;
  height: auto;
}

.etykieta-promocja2 {
  position: absolute;
  top: 3150px;
  left: 25px;
  background-color: #c92727;
  color: white;
  font-size: 22px;
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: bold;
}

.etykieta-nowa2 {
  position: absolute;
  top: 3200px;
  left: 25px;
  background-color: #2ecc71;
  color: white;
  font-size: 18px;
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: bold;
}

.lista-produktow1 {
  display: flex;
  gap: 40px;
  padding: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-top: 900px; 
}

.produkt1 {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 340px;
  margin-left: 50px;
}

.obrazek-produktu1 {
  width: 103%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.tytul-produktu1 {
  font-size: 15px;
  color: #313131;
  margin-top: 20px;
}

.cena-produktu1 {
  font-size: 16px;
  font-weight: bold;
  color: #313131;
  margin-bottom: 10px;
}

.cena-promocyjna1 {
  font-size: 16px;
  font-weight: bold;
  color: #e74c3c;
  margin-bottom: 10px;
}

.cena-stara1 {
  text-decoration: line-through;
  color: #999;
  margin-left: 5px;
  font-weight: normal;
}

.przycisk-koszyk1 {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.przycisk-koszyk1:hover {
  background-color: #27ae60;
}

.etykieta-nowa11 {
  position: absolute;
  top: 3150px;
  left: 500px;
  background-color: #2ecc71;
  color: white;
  font-size: 18px;
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: bold;
}

.etykieta-promocja11 {
  position: absolute;
  top: 3150px;
  left: 1470px;
  background-color: #c92727;
  color: white;
  font-size: 22px;
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: bold;
}


.nowosci {
  position: absolute;
  top: 2950px;
  left: 150px;
}

.nowosci1 {
  width: 350px;
  height: auto;
}

.reszta {
  position: absolute;
  top: 3800px;
  left: 840px;
}

.reszta1 {
  width: 250px;
  height: auto;
}

.prostokat-bialy1 {
  position: absolute;      
  top: 4000px;              
  left: 0px;            
  width: 1904px;           
  height: 800px;           
  background: #ffffff;     
}

.naglowek {
  position: absolute;
  top: 4150px;
  left: 200px;
}

.naglowek1 {
  width: 700px;
  height: auto;
}


.blok-tekstu1 {
  position: absolute;     
  top: 4110px;             
  left: 950px;            
  width: 900px;           
  background: #ffffff;    
  padding: 20px;

  
  font-family: Arial, sans-serif;
  
}

.blok-tekstu1 h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.blok-tekstu1 p {
  font-size: 26px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.blok-tekstu1 a {
  display: inline-block;   
  margin-top: 40px;       
  font-size: 22px;
  color: #414643;
  text-decoration: none;
  font-weight: bold;
}

.blok-tekstu1 a:hover {
  text-decoration: underline;
}

.prostokat-zielony1 {
  position: absolute;      
  top: 4700px;              
  left: 0px;            
  width: 1904px;           
  height: 600px;           
  background: #24781A;     
}



.teskt3 {
  position: absolute;
  top: 4780px;
  left: 690px;
}

.teskt311 {
  width: 400px;
  height: auto;
}

.idk {
  position: absolute;
  top: 5150px;
  left: 600px;
}

.idk1 {
  width: 600px;
  height: auto;
}

.newsletter2 {
  position: absolute;   
  top: 4950px;          
  left: 590px;          
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.newsletter-input2 {
  width: 580px;         
  height: 56px;         
  border: none;         
  padding: 0 15px;
  font-size: 16px;
  outline: none;        
}

.ikona-szukaj1 {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: auto;
  pointer-events: none;
  
}



.blok-tekstu2 {
  position: absolute;     
  top: 5550px;             
  left: 760px;            
  width: 900px;           
    
  padding: 20px;

  
  font-family: Arial, sans-serif;
  
}

.blok-tekstu2 h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.blok-tekstu2 p {
  font-size: 30px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.blok-tekstu2 a {
  display: inline-block;   
  margin-top: 40px;       
  font-size: 22px;
  color: #050505;
  text-decoration: none;
  font-weight: bold;
}

.blok-tekstu2 a:hover {
  text-decoration: underline;
}

.blok-tekstu3 {
  position: absolute;     
  top: 5300px;             
  left: 100px;            
  width: 900px;   
  font-size: 62px;        
    
  padding: 20px;

  
  font-family: Varela Round;
  
}



.book1 {
  position: absolute;
  top: 5550px;
  left: 100px;
}

.book3 {
  width: auto;
  height: auto;  /*nie da sie powiekszyc cos sie zepsluo idk */
}


.blok-tekstu4 {
  position: absolute;     
  top: 5470px;             
  left: 750px;            
  width: 900px;   
  font-size: 38px;        
    
  padding: 20px;

  
  font-family: Varela Round;
  
}

.blok-tekstu5 {
  position: absolute;     
  top: 5890px;             
  left: 29px;            
  width: 900px;   
  font-size: 42px;        
    
  padding: 20px;

  
  font-family: Varela Round;
  
}

.blok-tekstu6 {
  position: absolute;     
  top: 5970px;             
  left: 30px;            
  width: 900px;   
  font-size: 29px;
  max-width: 700px;        
    
  padding: 20px;

  
  font-family: Varela Round;
  
}

.blok-tekstu6 a {
  display: inline-block;   
  margin-top: 40px;       
  font-size: 28px;
  color: #050505;
  text-decoration: none;
  font-weight: bold;
}

.book7 {
  position: absolute;
  top: 5950px;
  left: 770px;
}

.book4 {
  width: 950px;
  height: auto;
}



.book12 {
  position: absolute;
  top: 6650px;
  left: 70px;
}

.book15 {
  width: auto;
  height: 1000px;  /* tez nie dzialo to xd*/
}

.blok-tekstu12 {
  position: absolute;     
  top: 6470px;             
  left: 50px;            
  width: 900px;   
  font-size: 38px; 
  max-width: 720px;       
    
  padding: 20px;

  
  font-family: Varela Round;
  
}

.blok-tekstu14 {
  position: absolute;     
  top: 6600px;             
  left: 735px;            
  width: 900px;   
  font-size: 35px;      
  max-width: 10000px;  
    
  padding: 20px;

  
  font-family: Varela Round;
  
}


.blok-tekstu14 a {
  display: inline-block;   
  margin-top: 40px;       
  font-size: 28px;
  color: #050505;
  text-decoration: none;
  font-weight: bold;
}


.linki {
  display: flex;
  justify-content: space-around; 
  align-items: flex-start;
  background-color: white;
  width: 100%;
  padding: 00px;
  position: absolute;
  top: 7100px;
  left: 0;
}

.kolumna {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
}

.kolumna p {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #313131;
  margin-bottom: 15px;
}

.kolumna ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.kolumna li {
  margin-bottom: 10px;
}

.kolumna a {
  text-decoration: none;
  font-family: 'Varela Round';
  font-size: 12px;
  line-height: 14px;
  color: #313131;
}

.strzalkagora {
  background-color: #24781a;
  border: none;
  height: 35px;
  width: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  margin-left: 20px; 
  margin-top: 65px;
}

.zakonczenie {
  background-color: #f9f9f9;
  width: 100%;
  height: 48px;
  position: absolute;
  top: 7275px; 
  left: 0;
}

.shoper {
  font-family: 'Varela Round';
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-decoration: underline;
  color: #313131;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
}







































