
* { box-sizing: border-box; margin: 0; padding: 0; }
html, body { height: 100%; }
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #F5F5F5;
}

.site-wrapper {
  max-width: 1904px; 
  width: 100%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  overflow: visible;
}

body {
  min-width: 320px;
}

.horizontal-image {
  left: 0;
  right: 0;
  margin: 0 auto;
}

.account-section,
.cart-section,
.phone-section,
.mail-section,
.category-bar,
.logo-section {
  
}

.horizontal-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  position: absolute;
  top: 300px;
  left: auto;
}

.full-width-rectangle {
  width: 100%;
  height: 600px;
  background-color: white;
  margin-top: 60px;
}

.category-bar {
  position: absolute;
  top: 250px;
  left: 400px;
}

.bar-image {
  width: auto;
  height: auto;
}

.logo-section {
  position: absolute;
  top: 120px;
  left: 400px;
}

.logo-image {
  width: auto;
  height: auto;
}

.account-section {
  position: absolute;
  top: 135px;
  left: 1550px;
}

.account-image {
  width: auto;
  height: auto;
}

.cart-section {
  position: absolute;
  top: 135px;
  left: 1355px;
}

.cart-image {
  width: auto;
  height: auto;
}

.phone-section {
  position: absolute;
  left: 1330px;
  margin-top: -630px;
}

.phone-image {
  width: auto;
  height: auto;
}

.mail-section {
  position: absolute;
  left: 1460px;
  margin-top: -630px;
}

.mail-image {
  width: auto;
  height: auto;
}

.search-block {
  position: absolute;
  top: 130px;
  left: 700px;
  width: 100%;
  max-width: 500px;
}

.search-input {
  width: 100%;
  padding: 8px 40px 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.rectangle-section {
  position: absolute;
  top: 500px;
  left: 0px;
}

.rectangle-image {
  width: auto;
  height: auto;
}

.brand-section {
  position: absolute;
  top: 330px;
  left: 100px;
}

.brand-image {
  width: 300px;
  height: auto;
}

.promotion-section {
  position: absolute;
  top: 560px;
  left: 400px;
}

.promotion-image {
  width: auto;
  height: auto;
}

.number-section {
  position: absolute;
  top: 630px;
  left: 350px;
}

.number-image {
  width: auto;
  height: auto;
}

.title-section {
  position: absolute;
  top: 530px;
  left: 400px;
}

.title-image {
  width: auto;
  height: auto;
}

.products-container, .products-container-2 {
  display: flex;
  flex-direction: column;
}

.products-list, .products-list-2 {
  display: flex;
  gap: 40px;
  padding: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-top: 800px; 
}

.product {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 340px;
  margin-left: 50px;
}

.product2 {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 340px;
  margin-left: 50px;
  margin-top: 200px;
}

.product-image {
  width: 103%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.product-title {
  font-size: 15px;
  color: #313131;
  margin-top: 20px;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  color: #313131;
  margin-bottom: 10px;
}

.discount-price {
  font-size: 16px;
  font-weight: bold;
  color: #e74c3c;
  margin-bottom: 10px;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  margin-left: 5px;
  font-weight: normal;
}

.add-to-cart {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart:hover {
  background-color: #27ae60;
}


.new-label1 {
  position: absolute;
  top: 1620px;
  left: 10px;
  background-color: #2ecc71;
  color: white;
  font-size: 18px;
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: bold;
}

.new-label2 {
  position: absolute;
  top: 3200px;
  left: 25px;
  background-color: #2ecc71;
  color: white;
  font-size: 18px;
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: bold;
}

.new-label3 {
  position: absolute;
  top: 1600px;
  left: 500px;
  background-color: #2ecc71;
  color: white;
  font-size: 18px;
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: bold;
}

.new-label4 {
  position: absolute;
  top: 3090px;
  left: 500px;
  background-color: #2ecc71;
  color: white;
  font-size: 18px;
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: bold;
}


.discount-label1 {
  position: absolute;
  top: 1560px;
  left: 10px;
  background-color: #c92727;
  color: white;
  font-size: 22px;
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: bold;
}

.discount-label2 {
  position: absolute;
  top: 3150px;
  left: 1470px;
  background-color: #c92727;
  color: white;
  font-size: 22px;
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: bold;
}

.discount-label3 {
  position: absolute;
  top: 1560px;
  left: 1470px;
  background-color: #c92727;
  color: white;
  font-size: 22px;
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: bold;
}

.discount-label4 {
  position: absolute;
  top: 3150px;
  left: 25px;
  background-color: #c92727;
  color: white;
  font-size: 22px;
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: bold;
}


.benefits-section {
  position: absolute;
  top: 950px;
  left: 0px;
}

.benefits-image {
  width: 1905px;
  height: auto;
}

.recommended-banner {
  position: absolute;
  top: 1250px;
  left: 200px;
}

.recommended-banner-image {
  width: 500px;
  height: auto;
}

.main-banner {
  position: absolute;
  top: 2350px;
  left: 0px;
}

.banner-image {
  width: 1905px;
  height: auto;
}


.news-section {
  position: absolute;
  top: 2950px;
  left: 150px;
}

.news-image {
  width: 350px;
  height: auto;
}


.more-button-section {
  position: absolute;
  top: 3800px;
  left: 840px;
}

.more-button-image {
  width: 250px;
  height: auto;
}


.white-rectangle {
  position: absolute;
  top: 4000px;
  left: 0px;
  width: 1904px;
  height: 800px;
  background: #ffffff;
}


.header-section {
  position: absolute;
  top: 4150px;
  left: 200px;
}

.header-image {
  width: 700px;
  height: auto;
}


.text-block1 {
  position: absolute;
  top: 4110px;
  left: 950px;
  width: 900px;
  background: #ffffff;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.text-block1 p {
  font-size: 26px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.text-block1 a {
  display: inline-block;
  margin-top: 40px;
  font-size: 22px;
  color: #414643;
  text-decoration: none;
  font-weight: bold;
}

.text-block1 a:hover {
  text-decoration: underline;
}


.green-rectangle {
  position: absolute;
  top: 4700px;
  left: 0px;
  width: 1904px;
  height: 600px;
  background: #24781A;
}


.text-image {
  position: absolute;
  top: 4780px;
  left: 690px;
}

.text-img {
  width: 400px;
  height: auto;
}


.section-header {
  position: absolute;
  top: 5150px;
  left: 600px;
}

.header-img {
  width: 600px;
  height: auto;
}


.newsletter-section {
  position: absolute;
  top: 4950px;
  left: 590px;
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.newsletter-input {
  width: 580px;
  height: 56px;
  border: none;
  padding: 0 15px;
  font-size: 16px;
  outline: none;
}

.newsletter-button {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: auto;
  pointer-events: none;
}


.text-block2 {
  position: absolute;
  top: 5550px;
  left: 760px;
  width: 900px;
  padding: 20px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.text-block2 p {
  font-size: 30px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.text-block2 a {
  display: inline-block;
  margin-top: 20px;
  font-size: 22px;
  color: #050505;
  text-decoration: none;
  font-weight: bold;
}

.text-block2 a:hover {
  text-decoration: underline;
}


.blog-section {
  position: absolute;
  top: 5300px;
  left: 100px;
  font-size: 62px;
  font-family: 'Varela Round', sans-serif;
  padding: 20px;
}


.book-section1 {
  position: absolute;
  top: 5550px;
  left: 100px;
}

.book-image1 {
  width: auto;
  height: auto;
}


.text-block3 {
  position: absolute;
  top: 5470px;
  left: 750px;
  width: 900px;
  font-size: 38px;
  font-family: 'Varela Round', sans-serif;
  padding: 20px;
}


.text-block4 {
  position: absolute;
  top: 5890px;
  left: 29px;
  width: 900px;
  font-size: 42px;
  font-family: 'Varela Round', sans-serif;
  padding: 20px;
}


.text-block5 {
  position: absolute;
  top: 5970px;
  left: 30px;
  width: 900px;
  max-width: 700px;
  font-size: 29px;
  font-family: 'Varela Round', sans-serif;
  padding: 20px;
}

.text-block5 a {
  display: inline-block;
  margin-top: 20px;
  font-size: 28px;
  color: #050505;
  text-decoration: none;
  font-weight: bold;
}

.text-block5 a:hover {
  text-decoration: underline;
}


.book-section2 {
  position: absolute;
  top: 5950px;
  left: 770px;
}

.book-image2 {
  width: 950px;
  height: auto;
}


.text-block6 {
  position: absolute;
  top: 6470px;
  left: 50px;
  width: 900px;
  max-width: 720px;
  font-size: 38px;
  font-family: 'Varela Round', sans-serif;
  padding: 20px;
}


.text-block7 {
  position: absolute;
  top: 6600px;
  left: 735px;
  width: 900px;
  max-width: 1000px;
  font-size: 35px;
  font-family: 'Varela Round', sans-serif;
  padding: 20px;
}

.text-block7 a {
  display: inline-block;
  margin-top: 20px;
  font-size: 28px;
  color: #050505;
  text-decoration: none;
  font-weight: bold;
}

.text-block7 a:hover {
  text-decoration: underline;
}


.book-section3 {
  position: absolute;
  top: 6650px;
  left: 70px;
}

.book-image3 {
  width: auto;
  height: auto;
}


.footer-links {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: white;
  width: 100%;
  padding: 0px;
  position: absolute;
  top: 7120px;
  left: 0;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.column p {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #313131;
  margin-bottom: 15px;
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column li {
  margin-bottom: 10px;
}

.column a {
  text-decoration: none;
  font-family: 'Varela Round';
  font-size: 12px;
  line-height: 14px;
  color: #313131;
}


.scroll-to-top {
  background-color: #24781a;
  border: none;
  height: 35px;
  width: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  margin-left: 20px;
  margin-top: 65px;
}


.footer {
  background-color: #f9f9f9;
  width: 100%;
  height: 48px;
  position: absolute;
  top: 7275px;
  left: 0;
}

.shoper {
  font-family: 'Varela Round';
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-decoration: underline;
  color: #313131;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
}

